**Practice** Print "Davet" from Nazim Hikmet on screen by put a space after every line.

In [ ]:
with open("/content/drive/MyDrive/Colab Notebooks/for_python.txt","r", encoding="utf8") as f:
  lines=f.readlines()
f = open("davet_finalver.txt", "w", encoding="utf8")

for i in range(0, len(lines),3):
  for j in range(3):
    f.write(lines[i+j])
  f.write('\n')
f.close()

with open("davet_finalver.txt","r", encoding="utf8") as f:
  lines=f.readlines()
for line in lines:
  print(line)

       Dörtnala gelip Uzak Asya'dan

       Akdeniz'e bir kısrak başı gibi uzanan

               bu memleket, bizim.



       Bilekler kan içinde, dişler kenetli, ayaklar çıplak

       ve ipek bir halıya benziyen toprak,

               bu cehennem, bu cennet bizim.



       Kapansın el kapıları, bir daha açılmasın,

       yok edin insanın insana kulluğunu,

               bu dâvet bizim....



       Yaşamak bir ağaç gibi tek ve hür

       ve bir orman gibi kardeşçesine,

               bu hasret bizim...

**Practice:** Write a function that calculate the hypotenuse length of the deltoid.

In [ ]:
def hip(side_1, side_2):
  hypo = ((side_1**2) + (side_2**2))**0.5
  return hypo
print(hip(5,12))
print(hip(3,4))
print(hip(4,5))

13.0
5.0
6.4031242374328485

**Practice** Write a function that transfers the square of the number that is less than an entered number to the list.

In [ ]:
def numbers_into_thelist(x):
  numbers=[]
  for i in range(x):
    numbers.append(i**2)
  return numbers
print(numbers_into_thelist(15))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

**Practice** Write a function that demands informations from the user.

In [ ]:
def login_code():
  name=input("your name: ")
  surname=input("your surname: ")
  print("welcome {} {}".format(name,surname))
  return
login_code()

your name: mali
your surname: sevim
welcome mali sevim

## **Practice** Practicing the other functions.

In [ ]:
list_1 = [True,True,True,True]
list_2 = [False,True,True,True]
print(all(list_1),all(list_2),any(list_2))

True False True

In [ ]:
index=0

for animal in animals_1:
  print ("index: {} animal : {}".format(index, animal))
  index+=1

index: 0 animal : bird
index: 1 animal : rabbit
index: 2 animal : dog
index: 3 animal : cat

In [ ]:
for index,animal in enumerate(animals_1):
  print ("index: {} animal : {}".format(index,animal))

index: 0 animal : bird
index: 1 animal : rabbit
index: 2 animal : dog
index: 3 animal : cat

In [ ]:
lambda_func= lambda x: x**2

print(lambda_func(3))

9

In [ ]:
f = lambda x,y : x + y
print(f(77,33))

110

In [ ]:
is_even=lambda x: print("{} even number".format(x)) if x % 2==0 else print("{} odd number".format((x)))
is_even(35)

35 odd number

In [ ]:
def is_even(x):
  if x%2==0:
    return True
  else:
    return False
list(filter(is_even, range(1,11)))

[2, 4, 6, 8, 10]

In [ ]:
list(filter(lambda x: True if x % 2==0 else False, range(1,11)))

[2, 4, 6, 8, 10]

In [ ]:
numbers = list(range(1,11))

def square(x):
  return x**2
list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(map((lambda x: x**2), numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
result=list(map((lambda x: x**2 if x%2==0 else x), range(0,25)))
print(*result)

0 1 4 3 16 5 36 7 64 9 100 11 144 13 196 15 256 17 324 19 400 21 484 23 576